<footer style="color: orangered;" class="footer">
  <div class="container">
    <div class="footer__left">

      <div class="footer__copy" style="color: orangered; padding-right: 5px ;">
        {{ .Site.Params.footer.author }}
      </div>

      <div class="footer__copy">
        {{ .Site.Params.footer.copyright }}
      </div>
    </div>
    <div class="footer__links">
      <ul class="navbar-nav ">
        <li class="nav-item">
          <a style="color: orangered;" class="nav-link" href="#home">HOME</a>
        </li>
        {{ range .Site.Menus.footer }}
        <li class="nav-item">
          <a class="nav-link" style="color: orangered;" href="{{ .URL }}">{{ .Name | upper }}</a>
        </li>
        {{ end }}
      </ul>
    </div>
    <div class="footer__right">

    </div>
  </div>
</footer>